<div class="admin-sidebar">
    <ul class="am-list admin-sidebar-list">
      <li><a ui-sref="home"><span class="am-icon-home"></span> 首页</a></li>
      <li class="admin-parent">
        <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 美食模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav">
          <li><a ui-sref="admin.food"><span class="am-icon-bug"></span> 美食列表</a></li>
          <li><a ui-sref="admin.foodCate"><span class="am-icon-bug"></span> 美食分类</a></li>
          <!-- <li><a ui-sref="admin.404"><span class="am-icon-bug"></span> 404</a></li>
          <li><a ui-sref="admin.user" class="am-cf"><span class="am-icon-check"></span> 个人资料<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
          <li><a ui-sref="admin.help"><span class="am-icon-puzzle-piece"></span> 帮助页</a></li>
          <li><a ui-sref="admin.gallery"><span class="am-icon-th"></span> 相册页面<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a></li>
          <li><a ui-sref="admin.log"><span class="am-icon-calendar"></span> 系统日志</a></li> -->
        </ul>
      </li>
      <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav2'}"><span class="am-icon-file"></span> 轮播图模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav2">
            <li><a ui-sref="admin.banner"><span class="am-icon-bug"></span> 轮播图</a></li>
          </ul>
        </li>
      <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav3'}"><span class="am-icon-file"></span> 友情模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav3">
            <li><a ui-sref="admin.friendLink"><span class="am-icon-bug"></span> 友情链接</a></li>
          </ul>
        </li>
      <li class="admin-parent">
        <a class="am-cf" data-am-collapse="{target: '#collapse-nav4'}"><span class="am-icon-file"></span> 店面模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav4">
          <li><a ui-sref="admin.shop"><span class="am-icon-bug"></span> 店面</a></li>
          <li><a ui-sref="admin.region"><span class="am-icon-bug"></span> 地区分类</a></li>
        </ul>
      </li>
      <li class="admin-parent">
        <a class="am-cf" data-am-collapse="{target: '#collapse-nav5'}"><span class="am-icon-file"></span> 公司模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav5">
          <li><a ui-sref="admin.singlePage"><span class="am-icon-bug"></span> 公司简介</a></li>
          <li><a ui-sref="admin.company"><span class="am-icon-bug"></span> 公司列表</a></li>
        </ul>
      </li>
      <li class="admin-parent">
        <a class="am-cf" data-am-collapse="{target: '#collapse-nav6'}"><span class="am-icon-file"></span> 导航模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav6">
          <li><a ui-sref="admin.nav"><span class="am-icon-bug"></span> 导航列表</a></li>
        </ul>
      </li>
      <li class="admin-parent">
        <a class="am-cf" data-am-collapse="{target: '#collapse-nav7'}"><span class="am-icon-file"></span> 新闻模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav7">
          <li><a ui-sref="admin.news"><span class="am-icon-bug"></span> 新闻列表</a></li>
        </ul>
      </li>
      <li class="admin-parent">
        <a class="am-cf" data-am-collapse="{target: '#collapse-nav8'}"><span class="am-icon-file"></span> 网站模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav8">
          <li><a ui-sref="admin.setting"><span class="am-icon-bug"></span> 网站设置</a></li>
        </ul>
      </li>
      <!-- <li><a ui-sref="admin.table"><span class="am-icon-table"></span> 表格</a></li>
      <li><a ui-sref="admin.form"><span class="am-icon-pencil-square-o"></span> 表单</a></li> -->
      <!-- <li><a ui-sref="login"><span class="am-icon-sign-out"></span> 注销</a></li> -->
    </ul>

    <div class="am-panel am-panel-default admin-sidebar-panel">
      <div class="am-panel-bd">
        <p><span class="am-icon-bookmark"></span> 公告</p>
        <p>时光静好，与君语；细水流年，与君同。—— Amaze</p>
      </div>
    </div>

    <div class="am-panel am-panel-default admin-sidebar-panel">
      <div class="am-panel-bd">
        <p><span class="am-icon-tag"></span> wiki</p>
        <p>Welcome to the Amaze wiki!</p>
      </div>
    </div>
  </div>